body{
    background-color: #f3eeed;
}

.logo-size
{
    width: 230px;
    height: 160px;
}

@media only screen and (max-width: 700px){
    .logo-size {
        width: 200px;
        height: 110px;
    }
  }